<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UIT THEATER</title>
    <link rel="icon" type="image/x-icon" href="/img/img_access/video-camera.png">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/index.css">
    <script src="https://unpkg.com/phosphor-icons"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="top_bar top_bar-row" style="border-bottom: 1px rgba(140, 140, 140, 0.5) solid;" href="/">
        <div class="align_row topbar-group" style="color: white;">
            <i style="font-size: 40px;" class="ph ph-video-camera"></i>
            <h1 class="logoFont" style="font-size: 20px; margin: 0px 10px; font-weight: 600;">UIT THEATER</h1>
        </div>
        <div class="align_row topbar-group hide-mobile">
            <a href="" class="booking hide-mobile">
                <i style="margin-right: 8px; font-size: 22px;" class="ph ph-ticket"></i>
                <span style="font-family: 'Anton', sans-serif;">ĐẶT VÉ NGAY</span>
            </a>
            <a href="" class="booking hide-mobile">
                <i style="margin-right: 8px; font-size: 22px;" class="ph ph-popcorn"></i>
                <span style="font-family: 'Anton', sans-serif;">ĐẶT BẮP NƯỚC</span>
            </a>
        </div>
    
    </div>
    </div>
</body>
</html>