<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
    <link rel="stylesheet" href="../public/style.css">
    <link rel="stylesheet" href="../public/login.css">
    <script src="https://unpkg.com/phosphor-icons"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="top_bar" style="border-bottom: 1px rgba(140, 140, 140, 0.5) solid;">
        <div class="align_row" style="color: white;">
            <i style="font-size: 40px;" class="ph ph-video-camera"></i>
            <h1 style="font-size: 20px; margin: 0px 20px; font-weight: 600;">UIT THEATER</h1>
        </div>
        <div class="align_row">
            <a href="" class="booking">
                <i style="margin-right: 10px; font-size: 25px;" class="ph ph-ticket"></i>
                <span style="font-family: 'Anton', sans-serif;">ĐẶT VÉ NGAY</span>
            </a>
            <a href="" class="booking">
                <i style="margin-right: 10px; font-size: 25px;" class="ph ph-popcorn"></i>
                <span style="font-family: 'Anton', sans-serif;">ĐẶT BẮP NƯỚC</span>
            </a>
        </div>
        <div class="align_row" style="color: white;">
            <div class="align_row"> 
                <input type="text" placeholder="Tìm phim" style="padding: 10px 20px; border-radius: 50px; font-size: 15px;">
                <i style="margin-left: -25px; color: black; font-size: 15px;" class="ph ph-magnifying-glass"></i>
            </div>
            <div class="align_row" style="margin-left: 50px;">
                <i style="font-size: 30px; margin: 10px ;" class="ph ph-user-circle"></i>
                <h2 style="font-size: 20px;">Đăng nhập</h2>
            </div>
        </div>
    </div>
    <div class="userbox">
        <button class="btSign">Đăng nhập</button>
        <button class="btReg">Đăng kí</button>
    </div>
    <div style="width: 100%;" class="align_row" >
        <form action="" class="signin" id="signin">
            <label for="username">Tài khoản, Email hoặc số điện thoại</label>
            <input type="text" id="username">
            <label for="password">Mật khẩu</label>
            <input type="password" id="password">
            <a href="" style="font-size: 15px; font-weight: 500; color: #0f172a; border-bottom: 1px solid #0f172a; width: fit-content; align-self: flex-end;">Quên mật khẩu ?</a>
            <input style="margin-bottom: 0px;" type="submit" value="Đăng nhập" class="submit">
        </form>
    </div>
</body>
</html>