.user_left {
    background-color: #4950b6;
    color: #f8fafc;
    width: 24%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;    
    padding: 20px;
    border-radius: 10px;
    margin-right: 20px;
}
.user_img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
}
.user_role {
    background-color: #f3ea28;
    color: #0f172a;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
    margin: 15px 0px;
    padding: 10px 0px;
}
.user_point {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.progress_bar {
    background-color: rgba(140, 140, 140, 0.5);
    padding: 4px;
    width: 100%;
    border-radius: 5px;
    margin: 10px 0px;
}
.user_menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 15px 0px;
    padding: 10px 0px;
    border-top: rgba(140, 140, 140, 0.5) 2px solid;
    border-bottom: rgba(140, 140, 140, 0.5) 2px solid;
}
.user_right {
    color: #f8fafc;
    width: 74%;
}

.user_right label
{
    font-size: 15px;
    font-weight: 500;
}
.user_right input
{
    height: 50px;
    width: 100%;
    border: 1px rgba(140, 140, 140, 0.5) solid;
    border-radius: 2px;
    font-size: 15px;
    padding: 15px;
    margin: 10px 0px;
    font-weight: 500;
    color: rgba(20, 20, 20, 0.5);
}
.user_right textarea
{
    height: 100px;
    width: 100%;
    border: 1px rgba(140, 140, 140, 0.5) solid;
    border-radius: 2px;
    font-size: 15px;
    padding: 15px;
    margin: 10px 0px;
    font-weight: 500;
    color: rgba(20, 20, 20, 0.5);
}
.user_right select
{
    height: 50px;
    width: 100%;
    border: 1px rgba(140, 140, 140, 0.5) solid;
    border-radius: 2px;
    font-size: 15px;
    padding: 15px;
    margin: 10px 0px;
    font-weight: 500;
    color: rgba(20, 20, 20, 0.5);
}
.input_info
{
    width: 50%;
    font-size: 15px;
    padding: 10px;
    font-weight: 500;
}
.alluser {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.usertab {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
@media (max-width: 1200px) {
    .top_bar, .quickbook, .img_ads, .movie, .bottom_bar {
        width: 100% !important;
        min-width: unset;
        max-width: 100vw;
    }
    .signin, .register, .userbox {
        width: 60%;
    }
}

@media (max-width: 900px) {
    .top_bar, .quickbook, .img_ads, .movie, .bottom_bar {
        width: 100% !important;
        min-width: unset;
        max-width: 100vw;
    }
    .signin, .register, .userbox {
        width: 90%;
        padding: 20px;
    }
    .top_bar {
        flex-direction: column;
        height: auto;
        padding: 10px 0;
    }
    .bottom_bar {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 100px !important;
    }
    .alluser {
        max-width: 100vw;
        width: 100%;
        margin: 0;
        margin-top: 80px;
        padding: 0 5px;
        box-sizing: border-box;
        flex-direction: column;
        align-items: center;
    }
    .user_left, .user_right {
        width: 100% !important;
        margin-right: 0 !important;
    }
}
@media (max-width: 600px) {
    .alluser {
        max-width: 80vw;
        width: 100%;
        margin: 0;
        margin-top: 60px;
        padding: 0 2px;
        box-sizing: border-box;
        flex-direction: column !important;
        align-items: center !important;
    }
    .user_left, .user_right {
        width: 100% !important;
        margin-right: 0 !important;
    }
    .user_right h1
    {
        font-size: 30px !important;
    }
    .menu-item {
        display: flex !important;
        flex-direction: row !important;
        justify-content: flex-start !important;
        align-items: center !important;
    }
}