*
{
    margin: 0;
    padding: 0;
    font-weight: 400;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    cursor: url(assets/img/cat.png), auto;
    text-decoration: none;
}
*::-webkit-scrollbar
{
    display: none;    
}
.align_row
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.align_column
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.align_row_between
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.align_column_between
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
body
{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    background-color: #0f172a;
}
input
{
    border: none;
    outline: none;
}
