<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/style.css"
    <title>Document</title>
</head>
<body>
    <h1>Transaction Demo</h1>
    <h2>Transaction ID: {{transactionId}}</h2>
    <nav>
        <h4> Node MySQL</h4>
        <ul class="nav nav-pills nav-stacked">
            <li><a href="/register">Register</a></li>
            <li><a href="/transaction/2">Transaction 2</a></li>
            <li><a href="/transaction/3">Transaction 3</a></li>
            <li><a href="/transaction/4">Transaction 4</a></li>
            <li><a href="/transaction/5">Transaction 5</a></li>
        </ul>
    </nav>
    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">Login Project!</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>
        </div>
    </div>

</body>
</html>