{{!-- Search Bar Partial --}}
<div class="align_row topbar-group searchBar" style="color: white;">
    <form id="searchForm" class="align_row" style="width: 100%;">
        <input type="text" id="searchInput" name="query" placeholder="Tìm phim" style="padding: 10px 20px; border-radius: 50px; font-size: 15px;">
        <button type="submit" style="background: none; border: none; margin-left: -35px; cursor: pointer;">
            <i style="color: black; font-size: 15px;" class="ph ph-magnifying-glass"></i>
        </button>
    </form>
</div> 